{{extend 'layout.html'}}
<div class="content col-md-12">
    <div id="ractive_target" class="col-md-12 recipe_container">

    </div>
</div>

<script id="template" type="text/ractive">
    <div class="col-md-6 col-sm-12 left_column">
        <div class="photos">
            <div class="no_photos_wrapper">
                <div class="no_photos">
                </div>
            </div>
        </div>
        <div class="instructions">
            <h3>Instructions</h3>
            {% #each instruction_groups: group_index %}
                <div class="instruction_group creator">
                    <div class="col-md-12 input-group group_title">
                        <input type="text" class="form-control" value="{% name %}" placeholder='(Optional) Instruction Group Name, e.g. "For the Sauce", "Preparation", etc.'/>
                        {% #each instructions: instruction_index %}
                            <div class="col-md-12 input-group">
                                <span class="input-group-addon btn btn-danger" on-click="removeInstruction:{% this %},{% group_index %},{% instruction_index %}">
                                    <i class="fa fa-minus"></i>
                                </span>
                                <textarea rows="4" value="{% instruction_text %}" class="form-control input_instruction" placeholder='Enter your instruction text here. Try to keep each instruction to a single unit such as "In a large bowl, combine the eggs, cheese, and leeks."'></textarea>
                            </div>
                        {% /each %}
                         <a class="form-control btn btn-primary" on-click="addInstruction:{% this %},{% group_index %}">
                             <i class="fa fa-plus"></i> Instruction
                         </a>

                        <span class="input-group-addon btn btn-danger" on-click="removeInstructionGroup:{% this %},{% group_index %}">
                            <i class="fa fa-minus"></i>
                        </span>
                    </div>
                </div>
            {% /each %}
            <div class="instruction_group">
                 <a class="btn btn-primary" on-click="addInstructionGroup:{% this %}">
                     <i class="fa fa-plus"></i> Group
                 </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 right_column">
        <div style="float: right;">
            <a on-click="submitRecipe" class="btn btn-primary">
                <i class="fa fa-plus"></i> Submit Recipe!
            </a>
        </div>
        <h3>Recipe Title</h3>
        <input type="text" class="input-group recipe_title form-control" value="{% recipe_title %}" placeholder="Fresh Herb Falafel, Pasta Carbonara, Double Chocolate Torte with Raspberry Puree, etc."/>
        <div class="recipe_meta col-md-12">
            <h3>Recipe Information</h3>
            <div class="form-inline">
                <div class="form-group col-md-6 col-lg-3">
                    <input type="text" class="form-control" id="author" value="{% author %}" placeholder="(Optional): Author">
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    <input type="text" class="form-control" id="publisher" value="{% publisher %}" placeholder="(Optional): Publisher">
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col-md-6 col-lg-3">
                    <input type="text" class="form-control" id="pub_date" value="{% pub_date %}" placeholder="(Optional): Publication Date">
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    <input type="text" class="form-control" id="yield" value="{% recipe_yield %}" placeholder="# Servings">
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="ingredients">
        <h3>Ingredients</h3>
            {% #each ingredient_groups: group_index %}
                <div class="ingredient_group creator">
                    <div class="col-md-12 input-group group_title">
                        <input type="text" class="form-control" value="{% name %}" placeholder='(Optional) Ingredient Group Name, e.g. "For the Sauce", "Garnish", etc.'/>
                        {% #each ingredients: ingredient_index %}
                            <div class="col-md-12 ingredient input-group">
                                <span class="input-group-addon btn btn-danger" on-click="removeIngredient:{% this %},{% group_index %},{% ingredient_index %}">
                                    <i class="fa fa-minus"></i>
                                </span>
                                <div class="form-inline ingredient_details">
                                    <div class="col-md-2 form-group">
                                        <input type="text" class="form-control quantity" value="{% amount %}" placeholder="Amnt." title="0.5, 1/2, 1 1/2, etc."/>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <input type="text" class="form-control units" value="{% units %}" placeholder="Units" title="cups, teaspoons, tbsp, etc."/>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control name" value="{% name %}" placeholder="Ingredient name, e.g. Garlic, Fresh Thyme, Strip Steak"/>
                                    </div>
                                </div>
                            </div>
                        {% /each %}
                         <a class="form-control btn btn-primary" on-click="addIngredient:{% this %},{% group_index %}">
                             <i class="fa fa-plus"></i> Ingredient
                         </a>

                        <span class="input-group-addon btn btn-danger" on-click="removeIngredientGroup:{% this %},{% group_index %}">
                            <i class="fa fa-minus"></i>
                        </span>
                    </div>
                </div>
            {% /each %}
            <div class="ingredient_group" style="padding-left: 0px;">
                 <a class="btn btn-primary" on-click="addIngredientGroup:{% this %}">
                     <i class="fa fa-plus"></i> Group
                 </a>
            </div>
        </div>
    <div>

</script>

<script type="text/javascript">
    var logged_in = ("{{=auth.is_logged_in()}}" === "True");
    var DEFAULT_INGREDIENT = {name: "", amount: "", units: ""};
    var DEFAULT_INGREDIENT_GROUP = {name: "", ingredients: [DEFAULT_INGREDIENT]};
    var DEFAULT_INSTRUCTION = {instruction_text: ""};
    var DEFAULT_INSTRUCTION_GROUP = {name: "", instructions: [DEFAULT_INSTRUCTION]};

    function clone(obj) {
        /**
         * From http://stackoverflow.com/questions/10270711/copy-associative-array-in-javascript
         */
        if (null == obj || "object" != typeof obj) return obj;
        var copy = obj.constructor();
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = clone(obj[attr]);
        }
        return copy;
    }

    $(function () {
        var ractive = new Ractive({
            el: "#ractive_target",
            template: "#template",
            delimiters: ["{%", "%}"],
            tripleDelimiters: ["{%%", "%%}"],
            data: {
                recipe_title: "",
                author: "",
                publisher: "",
                pub_date: "",
                recipe_yield: "",
                instruction_groups: [clone(DEFAULT_INSTRUCTION_GROUP)],
                ingredient_groups: [clone(DEFAULT_INGREDIENT_GROUP)],
            }
        });

        ractive.on("addInstruction", function(event, el, group_index) {
            var groups = ractive.get("instruction_groups");
            groups[group_index]["instructions"].push(clone(DEFAULT_INSTRUCTION));
        });

        ractive.on("removeInstruction", function(event, el, group_index, instruction_index) {
            var groups = ractive.get("instruction_groups");
            groups[group_index]["instructions"].splice(instruction_index, 1);
            ractive.set("instruction_groups", groups);
        });

        ractive.on("addInstructionGroup", function(event, el) {
            var groups = ractive.get("instruction_groups");
            groups.push(clone(DEFAULT_INSTRUCTION_GROUP));
        });

        ractive.on("removeInstructionGroup", function(event, el, group_index) {
            var groups = ractive.get("instruction_groups");
            groups.splice(group_index, 1);
            ractive.set("instruction_groups", groups);
        });

        ractive.on("addIngredient", function(event, el, group_index) {
            var groups = ractive.get("ingredient_groups");
            groups[group_index]["ingredients"].push(clone(DEFAULT_INGREDIENT));
        });

        ractive.on("removeIngredient", function(event, el, group_index, ingredient_index) {
            var groups = ractive.get("ingredient_groups");
            groups[group_index]["ingredients"].splice(ingredient_index, 1);
            ractive.set("ingredient_groups", groups);
        });

        ractive.on("addIngredientGroup", function(event, el) {
            var groups = ractive.get("ingredient_groups");
            groups.push(clone(DEFAULT_INGREDIENT_GROUP));
        });

        ractive.on("removeIngredientGroup", function(event, el, group_index) {
            var groups = ractive.get("ingredient_groups");
            groups.splice(group_index, 1);
            ractive.set("ingredient_groups", groups);
        });

        ractive.on("submitRecipe", function(event){
            console.log(ractive.data);
            $.ajax({
                url: "{{=URL("default", "add_recipe_endpoint", user_signature=True)}}",
                method: "POST",
                data: {"json_ractive": JSON.stringify(ractive.data)},
                // Need to do something when field validation doesn't pass
                success: function(data) {
                    var redirect_root = "{{=URL("default", "recipe")}}";
                    window.location = redirect_root + "/" + data["recipe_url"]
                    return false;
                }
            });
        });
    });

    ;</script>
