{{extend 'layout.html'}}
<div class="content col-md-12">
    <div class="front-page-section content-col-md-12">
        <h1>Popular</h1>
        {{i = 1}}
        {{for i, recipe in enumerate(popular):}}
            {{if i % 6 == 0:}}
                <div class="col-md-12">
            {{pass}}
            {{if i % 6 == 0 and i != 0:}}
                </div>
            {{pass}}
            <a href="{{=URL("recipe", args=[recipe["url"]])}}">
                <div class="col-md-2 front-page-recipe">
                    <div class="image">
                        <span class="favorites-float">
                            <i class="fa fa-star"></i>
                            <span class="num-favorites">{{=recipe["num_favorites"]}}</span>
                        </span>
                    </div>
                    <div class="title">
                        {{=recipe["recipe_title"]}}
                    </div>
                </div>
            </a>
        {{pass}}
        {{if i % 6 != 0:}}
            </div>
        {{pass}}
    </div>
    <div class="clear front-page-section content-col-md-12">
        <h1>Recently Added</h1>
        {{i = 1}}
        {{for i, recipe in enumerate(recent):}}
            {{if i % 6 == 0:}}
                <div class="col-md-12">
            {{pass}}
            {{if i % 6 == 0 and i != 0:}}
                </div>
            {{pass}}
            <a href="{{=URL("recipe", args=[recipe["url"]])}}">
                <div class="col-md-2 front-page-recipe">
                    <div class="image">
                    </div>
                    <div class="title">
                        {{=recipe["recipe_title"]}}
                    </div>
                </div>
            </a>
        {{pass}}
        {{if i % 6 != 0:}}
            </div>
        {{pass}}
    </div>
    <!--
    <div class="clear front-page-section content-col-md-12">
        <h1>In the Kitchen</h1>
    </div>
    -->
</div>
