{{extend 'layout.html'}}
<div class="content col-md-12">
    <div class="col-md-12 recipe_container">
        <div class="col-md-4 col-sm-12 left_column">
            <div class="photos">
                <div class="no_photos_wrapper">
                    <div class="no_photos">
                    </div>
                </div>
            </div>
            <div class="instructions">
                <h3>Instructions</h3>
            {{for instruction_group in recipe["instruction_groups"]:}}
                <div class="instruction_group">
                    <div class="group_title">
                    {{if instruction_group["group_title"] is not None:}}
                            {{=instruction_group["group_title"]}}
                        {{pass}}
                    </div>
                {{for instruction in instruction_group["instructions"]:}}
                    <p class="instruction">
                    {{=instruction["instruction_text"]}}
                    </p>
                {{pass}}
                </div>
            {{pass}}
            </div>
        </div>
        <div class="col-md-8 col-sm-12 right_column">
            <h2>
            {{=recipe["recipe_title"]}}
            </h2>

            <div class="favorite">
                <span class="user_favorited" data-user-favorited="{{=recipe["user_favorited"]}}">
                    <input class="favorited_tracker hidden" value="{{="fa-star" if recipe["user_favorited"] else "fa-star-o"}}" />
                    {{if recipe["user_favorited"]:}}
                        <i class="fa fa-star"></i>
                    {{else:}}
                        <i class="fa fa-star-o"></i>
                    {{pass}}
                </span>
                favorited <span class="num_favorites">{{=len(recipe["favorites"])}}</span>
            <span class="favorite_text">
                {{if len(recipe["favorites"]) == 1:}}
                    time
                {{else:}}
                    times
                {{pass}}
            </span>
            </div>
            <div class="ingredients">
                <h3>Ingredients</h3>
            {{for ingredient_group in recipe["ingredient_groups"]:}}
                <div class="ingredient_group">
                    <div class="group_title">
                    {{if ingredient_group["group_title"] is not None:}}
                            {{=ingredient_group["group_title"]}}
                        {{pass}}
                    </div>
                {{for index, ingredient in enumerate(ingredient_group["ingredients"]):}}
                    <div id="ractive_target_{{=ingredient_group["index"]}}_{{=index}}"
                         data-ingredient-id="{{=ingredient["id"]}}"
                         data-ingredient-name="{{=ingredient["ingredient_name"]}}"
                         data-ingredient-units="{{=ingredient["units"]}}"
                         data-ingredient-quantity="{{=ingredient["amount"]}}"
                         data-ingredient-link-info="{{=ingredient["links_to"]}}"
                         class="ingredient">
                    </div>
                {{pass}}
                </div>
            {{pass}}
            </div>

        </div>
    </div>
</div>

<script id="template" type="text/ractive">
    {% #if (suggested_amount != null) %}
        <span class="suggested_amount">
            {% suggested_amount %}
        </span>
        <span class="strikethrough">
        <span class="amount">
            {% #if !isNaN(ingredient_quantity) %}
                {% ingredient_quantity %}
            {% /if %}
        </span>
        </span>
    {% else %}
        <span class="amount">
            {% #if !isNaN(ingredient_quantity) %}
                {% ingredient_quantity %}
            {% /if %}
        </span>
    {% /if %}
    <span class="units">
        {% #if ingredient_units != "None" %}
            {% ingredient_units %}
        {% /if %}
    </span>
    <span class="name">
        {% #ingredient_name_pieces %}
            {% #if (type === "span") %}
                <span>{% text %}</span>
            {% /if %}
            {% #if (type === "url") %}
                <a href="{% url %}">{% text %}</a>
            {% /if %}
        {% /ingredient_name_pieces %}
    </span>
    <span on-click="showSuggestions">
        {% #if ((suggestions.length === 1) && (suggestions_hidden === "hidden")) %}
            <span class="suggestions_summary">
                See <span class="num_suggestions">1</span> suggestion {{=icon_arrow_down}}
            </span>
        {% /if %}
        {% #if ((suggestions.length > 1) && (suggestions_hidden === "hidden")) %}
            <span class="suggestions_summary">
                See <span class="num_suggestions">{% suggestions.length %}</span> suggestions {{=icon_arrow_down}}
            </span>
        {% /if %}
        {% #if ((suggestions.length === 0) && (suggestions_hidden === "hidden")) %}
            <span class="suggestions_summary">
                Make a suggestion {{=icon_arrow_down}}
            </span>
        {% /if %}
    </span>
    <span class="links_to">{% links_to %}</span>

    <div class="user_suggestions_wrapper {% suggestions_hidden %}">
        {% #if (suggestions.length === 0) %}
            <span on-click="hideSuggestions">
                <span class="hide_suggestions">
                    hide {{=icon_arrow_up}}
                </span>
            </span>
        {% /if %}
        <div class="user_suggestion">
            <form class="form-inline user_suggestion_form" on-submit="add_suggestion">
                <div class="form-group">
                    <label class="sr-only" for="suggested_quantity">Make an adjustment</label>
                    <div class="input-group">
                        <input name="suggested_quantity" type="text" class="form-control" placeholder="1/2, 0.75, etc." />
                        {% #if ingredient_units != "None" %}
                            <div class="input-group-addon">{% ingredient_units %}</div>
                        {% /if %}
                    </div>
                </div>
                <button on-click="add_suggestion" type="submit" class="btn btn-primary">Suggest adjustment</button>
            </form>
        </div>

        {% #each suggestions: index %}
            {% #if (index === (suggestions.length - 1)) %}
                <span on-click="hideSuggestions">
                    <span class="hide_suggestions">
                        hide {{=icon_arrow_up}}
                    </span>
                </span>
            {% /if %}
            <div data-suggestion-id="{% suggestion_id %}" data-suggestion-list-index="{% index %}" class="suggestion">
                <span class="quantity">
                    {% suggested_quantity %}
                    (
                    {% #if (suggested_quantity > ingredient_quantity) %}
                        <span class="adjustment up">{{=icon_plus}} {% difference %}</span>
                    {% else %}
                        <span class="adjustment down">{{=icon_minus}} {% difference %}</span>
                    {% /if %}
                    )
                </span>
                <span class="suggested_units">
                    {% #if ingredient_units != "None" %}
                        {% ingredient_units %}
                    {% /if %}
                </span>
                <span class="suggsted_name">
                    {% ingredient_name %}
                </span>
                <span class="suggesting_user">
                    {% #if (suggested_by_me === true) %}
                        (by me)
                    {% /if %}
                </span>
                <span class="rating_container">
                    <span class="up_count">{% votes_up %}</span>
                    {% #if (suggested_by_me === false) %}
                        <span class="thumb thumbs-up"
                            on-mouseover="hover:{% this %},{% index %},'up'"
                            on-mouseout="endHover:{% this %},{% index %}"
                            on-click="vote:{% this %},{% suggestion_id %},{% index %},'up'">
                        {% #if current_vote_direction === "up" %}
                            <i class="fa fa-thumbs-o-up fa-thumbs-up"></i>
                        {% else %}
                            <i class="fa fa-thumbs-o-up"></i>
                        {% /if %}
                        </span>
                    {% else %}
                        <span class="thumb thumbs-up">
                        {% #if current_vote_direction === "up" %}
                            <i class="fa fa-thumbs-o-up fa-thumbs-up"></i>
                        {% else %}
                            <i class="fa fa-thumbs-o-up"></i>
                        {% /if %}
                    </span>
                    {% /if %}
                    <span class="down_count">{% votes_down %}</span>
                    {% #if (suggested_by_me === false) %}
                        <span class="thumb thumbs-down"
                                on-mouseover="hover:{% this %},{% index %},'down'"
                                on-mouseout="endHover:{% this %},{% index %}"
                                on-click="vote:{% this %},{% suggestion_id %},{% index %},'down'">
                                {% #if current_vote_direction === "down" %}
                                <i class="fa fa-thumbs-o-down fa-thumbs-down"></i>
                            {% else %}
                                <i class="fa fa-thumbs-o-down"></i>
                            {% /if %}
                        </span>
                    {% else %}
                        <span class="thumb thumbs-down">
                            {% #if current_vote_direction === "down" %}
                                <i class="fa fa-thumbs-o-down fa-thumbs-down"></i>
                            {% else %}
                                <i class="fa fa-thumbs-o-down"></i>
                            {% /if %}
                        </span>
                    {% /if %}
                    {% #if suggestion_score < 0.0 %}
                        <span class="suggestion_score negative">
                            {% Math.round(suggestion_score * 100.0) / 100 %} %
                        </span>
                    {% else %}
                        <span class="suggestion_score positive">
                            {% Math.round(suggestion_score * 100.0) / 100 %} %
                        </span>
                    {% /if %}
                </span>
            </div>
        {% /each %}
        <div class="clear"></div>
    </div>

</script>

<script type="text/javascript">
    var logged_in = ("{{=auth.is_logged_in()}}" === "True");

    function toggle_favorite() {
        $.ajax({
            url: "{{=URL("default", "toggle_favorite", user_signature=True)}}",
            method: "POST",
            data: {recipe_id: "{{=recipe["id"]}}",}
        });
    }

    $(function () {
        var $favorited_tracker = $(".favorited_tracker");
        $(".user_favorited").find("i").on({
            mouseenter: function () {
                $(this).toggleClass("fa-star");
                $(this).toggleClass("fa-star-o");
            },
            mouseout: function() {
                $(this).removeClass("fa-star-o fa-star");
                $(this).addClass($favorited_tracker.val());
            },
            click: function() {
                if ("{{=auth.is_logged_in()}}" === "True") {
                    console.log($(".num_favorites").html());
                    var num_favs = parseInt($(".num_favorites").html());
                    if ($favorited_tracker.val() === "fa-star-o") {
                        $favorited_tracker.val("fa-star");
                        console.log(num_favs);
                        num_favs += 1;
                        $(".num_favorites").html(num_favs);
                    } else if ($favorited_tracker.val() === "fa-star") {
                        $favorited_tracker.val("fa-star-o");
                        num_favs -= 1;
                        $(".num_favorites").html(num_favs);
                    }

                    if (num_favs === 1) {
                        $(".favorite_text").html("time");
                    } else {
                        $(".favorite_text").html("times");
                    }
                    toggle_favorite();
                } else {
                    $(".flash").html("You must be logged in.");
                    $(".flash").slideDown();
                }
            }
        });

        $(".ingredient").each(function () {
            // Ractive object
            var element = $(this).attr("id");
            var ingredient_id = parseInt($(this).data("ingredient-id"));
            var ingredient_name = $(this).data("ingredient-name");
            var ingredient_units = $(this).data("ingredient-units");
            var ingredient_quantity = parseFloat($(this).data("ingredient-quantity"));
            var link_info = $(this).data("ingredient-link-info")["links"];
            var name_pieces = []
            if (link_info != undefined) {
                for (var i = 0; i < link_info.length; ++i) {
                    var link = link_info[i];
                    if (i === 0 && link["start"] != 0) {
                        name_pieces.push({"text": ingredient_name.substring(0, link["start"]), "type": "span"});
                    }

                    name_pieces.push({
                        "text": ingredient_name.substring(link["start"], link["end"]), "type": "url",
                        "url": "{{=URL("recipe")}}" + "/" + link["url"]
                    });

                    if ((i === link_info.length - 1) && (link["end"] - 1 != ingredient_name.length)) {
                        name_pieces.push({"text": ingredient_name.substring(link["end"]), "type": "span"});
                    }
                }
            }

            if (name_pieces.length === 0) {
                name_pieces.push({"text": ingredient_name, "type": "span"});
            }

            var ractive = new Ractive({
                el: "#" + element,
                template: "#template",
                delimiters: ["{%", "%}"],
                tripleDelimiters: ["{%%", "%%}"],
                data: {
                    ingredient_name: ingredient_name,
                    ingredient_name_pieces: name_pieces,
                    ingredient_units: ingredient_units,
                    ingredient_quantity: ingredient_quantity,
                    suggestions: [],
                    suggested_amount: null,
                    suggestions_hidden: "hidden"
                }
            });

            function sortSuggestions(suggestions) {
                return suggestions.sort(function (a, b) {
                    return parseFloat(a["suggestion_score"]) < parseFloat(b["suggestion_score"]);
                });
            }

            function get_suggestions(ingredient_id) {
                $.ajax({
                    url: "{{=URL('default', 'get_ingredient_suggestions')}}",
                    method: "POST",
                    data: {
                        ingredient_id: ingredient_id,
                    },
                    success: function (data) {
                        var suggestedByMe = false;

                        for (var i = 0; i < data.length; ++i) {
                            data[i]["difference"] = Math.abs(data[i]["suggested_quantity"] - ingredient_quantity)
                            if (data[i]["suggested_by_me"] === true) {
                                ractive.set("suggested_amount", data[i]["suggested_quantity"]);
                                suggestedByMe = true;
                            }
                        }
                        sortSuggestions(data);

                        if (!suggestedByMe) {
                            // Sort by suggestion score increasing
                            if ((data.length != 0) && (data[0]["suggestion_score"] > 0.0)) {
                                ractive.set("suggested_amount", data[0]["suggested_quantity"]);
                            } else {
                                ractive.set("suggested_amount", null);
                            }
                        }
                        ractive.set("suggestions", data);
                    }
                });
            }


            ractive.on("hover", function (event, el, index, direction) {
                var suggestions = ractive.get("suggestions");
                el.current_vote_direction = direction;
                suggestions[index] = el;
                ractive.set("suggestions", suggestions);
            });

            ractive.on("endHover", function (event, el, index) {
                var suggestions = ractive.get("suggestions");
                el.current_vote_direction = el.vote_direction;
                suggestions[index] = el;
                ractive.set("suggestions", suggestions);
            });

            ractive.on("vote", function (event, el, ingredient_suggestion_id, index, direction) {
                if (!logged_in) {
                    console.log("not logged in");
                    return false;
                }

                $.ajax({
                    url: "{{=URL('vote_ingredient_suggestion', user_signature=True)}}",
                    method: "POST",
                    data: {
                        ingredient_suggestion_id: ingredient_suggestion_id,
                        direction: direction
                    }
                });
                var suggestions = ractive.get("suggestions");
                if (suggestions[index]["vote_direction"] != direction) {
                    suggestions[index]["votes_" + direction] += 1;
                    if ((suggestions[index]["vote_direction"] === "up") && (direction === "down")) {
                        suggestions[index]["votes_up"] -= 1;
                    }
                    if ((suggestions[index]["vote_direction"] === "down") && (direction === "up")) {
                        suggestions[index]["votes_down"] -= 1;
                    }
                }
                suggestions[index]["vote_direction"] = direction;
                ractive.set("suggestions", suggestions);

                return false;
            });

            ractive.on("showSuggestions", function () {
                ractive.set("suggestions_hidden", "");
            });

            ractive.on("hideSuggestions", function () {
                ractive.set("suggestions_hidden", "hidden");
            });

            window.setInterval(function () {
                get_suggestions(ingredient_id);
            }, 10000);

            get_suggestions(ingredient_id);

            // Grab this now since we can't use the same $(this) from inside the add_suggestion handler
            var $suggested_value_container = $(this).find("input[name='suggested_quantity']");

            ractive.on("add_suggestion", function (event) {
                if (!logged_in) {
                    window.location = "{{=URL('default', 'user', args='login', vars=dict(_next=URL(args=request.args, vars=request.vars)))}}";
                    return false;
                }
                var suggested_quantity = $suggested_value_container.val();
                $.ajax({
                    url: "{{=URL('add_ingredient_suggestion', user_signature=True)}}",
                    method: "POST",
                    data: {
                        ingredient_id: ingredient_id,
                        suggested_quantity: suggested_quantity
                    },
                    success: function (data) {
                        if ("error" in data) {
                            $(".flash").html(data["error"]).slideDown();
                        } else if ("suggestion_id" in data) {
                            // Insert was successful
                            var suggested_quantity = parseFloat(data["suggested_quantity"]);
                            var difference = Math.abs(ingredient_quantity - suggested_quantity);
                            var new_suggestion = {
                                suggestion_id: data["suggestion_id"],
                                ingredient_id: ingredient_id,
                                suggested_quantity: data["suggested_quantity"],
                                votes_up: data["votes_up"],
                                votes_down: data["votes_down"],
                                suggested_by_me: true,
                                difference: difference,
                                suggestion_score: 0.0,
                            };
                            var suggestions = ractive.get("suggestions");
                            suggestions.push(new_suggestion);
                            sortSuggestions(suggestions);
                            ractive.set("suggestions", suggestions);
                            ractive.set("suggested_amount", data["suggested_quantity"]);
                        }
                    }
                });

                return false;
            });


        });
    });

    ;</script>
