<div class="container-fluid info-container" style="display: none">
    <div class="info-content">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title">What is Crowd Cook?</h2>

                <p>Crowd Cook is an innovative community effort to make every recipe better. </p>

                <p>
                    Built on the belief that perfecting a recipe requires countless adjustments and preparing it over
                    and over again, we seek to combine your experiences with those of countless others into the perfect
                    renditions of your favorite recipes, not just for you, but for everyone.
                </p>

                <p>
                    We begin by profiling the individual tastes of each user: spicy, salty, sweet, sour. Then we
                    individualize
                    each recipe based on an algorithm that combines each user's tastes with the community's feedback for
                    a recipe.
                </p>

                <p>
                    Individual users make adjustments to recipes, suggesting an extra teaspoon of this, or a little less
                    of that,
                    and then other users vote on the quality of these suggestions. To account for individual taste, we
                    ensure that even though the spice-loving users may suggest adding 2 tbsp. of Cayenne Pepper, only
                    similarily heat-enthused users will receive such recommendations.
                </p>
            </div>
        </div>
    </div>
</div>

<a href="#" onclick="toggleInfo()">
    <div data-state="hidden" class="info-control">
    <span class="expand">
        <i class="fa fa-angle-down"></i>
    </span>
    <span class="hidden collapse">
        <i class="fa fa-angle-up"></i>
    </span>
    </div>
</a>

<script type="text/javascript">
    var $infoContent = $(".info-container");
    var $expand = $(".info-panel").find(".expand").first();
    var $collapse = $(".info-panel").find(".collapse").first();

    function toggleInfo() {
        var $infoControl = $(".info-control").first();
        var state = $infoControl.data("state");
        console.log(state);
        if (state === "hidden") {
            $infoContent.slideDown();
            $expand.addClass("hidden");
            $collapse.removeClass("hidden");
            $collapse.addClass("show");
            $infoControl.data("state", "visible");
        } else if (state === "visible") {
            $infoContent.slideUp();
            $expand.removeClass("hidden");
            $expand.addClass("show");
            $collapse.addClass("hidden");
            $infoControl.data("state", "hidden");
        }
    }

    function expandInfo() {
        $expand.toggleClass("hidden");
        $expand.toggleClass("show");
        $collapse.toggleClass("hidden");
        $collapse.toggleClass("show");
        $infoContent.slideDown();
    }

    function collapseInfo() {
        $expand.toggleClass("hidden");
        $expand.toggleClass("show");
        $collapse.toggleClass("hidden");
        $collapse.toggleClass("show");
        $infoContent.slideUp();
    }

</script>
