@import "bootstrap-variables";
@import "constants";

body {
  font-size: 14pt;
  //background: url("../images/arab_tile/arab_tile.png") repeat;
  //background: url("../images/hexellence/hexellence.png") repeat;
  //background: url("../images/large_fork_spoon.png") repeat;

  padding-top: 0px;
  margin-bottom: 60px;

  .navbar {
    border-radius: 0;
  }

  .navbar-new {
    background-color: $navbar-bg;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;

    .navbar-brand {
      font-family: $headings-font-family;
    }

    .form-group {
      input {
        border: none;
      }
    }

  }

  .navbar-new .navbar-brand,
  .navbar-new .navbar-brand:hover,
  .navbar-new .navbar-brand:focus {
    color: #FFF;
  }

  .navbar-new .navbar-nav > li > a {
    color: #FFF;
  }

  .navbar-new .navbar-nav > li > a:hover,
  .navbar-new .navbar-nav > li > a:focus {
    background-color: $navbar-hover;
  }

  .navbar-new .navbar-nav > .active > a,
  .navbar-new .navbar-nav > .active > a:hover,
  .navbar-new .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: $navbar-hover;
  }

  .navbar-new .navbar-text {
    color: #FFF;
  }

  .navbar-new .navbar-toggle {
    background-color: $navbar-hover;
  }

  .navbar-new .navbar-toggle:hover,
  .navbar-new .navbar-toggle:focus {
    background-color: $navbar-hover;
  }

  .navbar-new .navbar-toggle .icon-bar {
    background-color: #FFF;
  }

  .info-panel {
    background: $navbar-bg;
    color: white;

    .info-content {
      margin: 10px 0;
      border-top: 1px dashed darken($btn-primary-bg, 5%);

      .title {
        color: white;
      }
    }

    .info-control {
      text-align: center;
      font-size: 36pt;
    }

    .info-control:hover {
      background: darken($navbar-bg, 5%);
    }
  }
}

//h1, h2, h3, h4, h5, h6 {
//  font-family: 'Arvo', Georgia, Times, serif;
//}
//
a, span, div {
  font-family: $font-family-sans-serif;
}
//p, div, a {
//  font-family: $font-family-sans-serif;
//}

.search_container {
  text-align: center;
  min-height: 300px;
  text-shadow: 0px 0px 30px black;
  color: white;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
  }

  .form-group {
    -webkit-box-shadow: 0px 5px 30px 0px #898989;
    -moz-box-shadow: 0px 5px 30px 0px #898989;
    box-shadow: 0px 5px 30px 0px #898989;
  }
  input, button {
  }
}

.what_is_container {
  -webkit-box-shadow: 0px -5px 15px 0px rgba(101, 186, 197, 0.39);
  -moz-box-shadow: 0px -5px 15px 0px rgba(101, 186, 197, 0.39);
  box-shadow: 0px -5px 15px 0px rgba(101, 186, 197, 0.39);
  height: 100vh;
  color: white;

  background: steelblue;

  //background: rgba(85, 119, 132, 0.4) rgba(101,186,197,0.39);
  //background: rgba(85, 119, 132, 0.4) -moz-linear-gradient(top, rgba(101,186,197,0.39) 0%, rgba(70,127,162,1) 100%);
  //background: rgba(85, 119, 132, 0.4) -webkit-gradient(left top, left bottom, color-stop(0%, rgba(101,186,197,0.39)), color-stop(100%, rgba(70,127,162,1)));
  //background: rgba(85, 119, 132, 0.4) -webkit-linear-gradient(top, rgba(101,186,197,0.39) 0%, rgba(70,127,162,1) 100%);
  //background: rgba(85, 119, 132, 0.4) -o-linear-gradient(top, rgba(101,186,197,0.39) 0%, rgba(70,127,162,1) 100%);
  //background: rgba(85, 119, 132, 0.4) -ms-linear-gradient(top, rgba(101,186,197,0.39) 0%, rgba(70,127,162,1) 100%);
  //background: rgba(85, 119, 132, 0.4) linear-gradient(to bottom, rgba(101,186,197,0.39) 0%, rgba(70,127,162,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65bac5', endColorstr='#467fa2', GradientType=0 );

  .content_wrapper {
    padding-top: 25px;

    .title {
      text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    }
  }
}

.no_photo_bg {
  //background-color: $brand-complement;
}

.content {
  padding: 20px 0;
  font-family: "SansSerif";
  font-size: 14pt;

  .recipe_container {
    padding: 0 100px;

    .instruction_group + .instruction_group {
      margin-top: $group_spacing;
    }

    .instruction_group.creator {
      .input-group-addon.btn.btn-primary {
        background-color: $brand-primary;
        i {
          color: white;
        }
      }

      .input-group {
        width: 100%;
      }

      input[type=text] {
        background-color: rgba(255, 255, 255, 0.33);
        width: 100%;
      }

      textarea {
        width: 100%;
        overflow: auto;
        overflow: hidden;
      }

      .instruction {
        padding-left: 15px;
        padding-top: 10px;

      }
    }

    .left_column {
      //$box-model: border-box;

      //background-color: rgba(173, 173, 173, 0.1);
      //padding: 0 10px 0 0;
      //max-width: 30%;
      //float: left;

      .photos {
        width: 100%;
        max-height: 500px;
        background: url("../images/small_fork_spoon.png") repeat;

        border: 1px solid #333;
        color: $brand-primary;

        //@include box-shadow();

        .no_photos_wrapper {
          width: 100%;
          height: 300px;

          .no_photos {
            $box-model: border-box;
            padding: 10px;
            text-align: center;
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }

    .right_column {

      .favorite {
        margin-left: 25px;
        font-style: italic;

        .user_favorited {
          font-size: 20pt;
          color: $brand-highlight;
        }

        .user_favorited:hover {
          color: $brand-highlight;
        }
      }

      .recipe_meta {
        padding-left: 0px;

        .input-group-addon {
          background: $brand-complement;
          color: white;
        }
      }

      input.recipe_title::-webkit-input-placeholder { font-style: italic; }
      input.recipe_title::-moz-placeholder { font-style: italic; } /* firefox 19+ */
      input.recipe_title:-ms-input-placeholder { font-style: italic; } /* ie */
      input.recipe_titleinput:-moz-placeholder { font-style: italic; }

      .ingredients {
        padding-top: 25px;
      }

      .ingredient_group.creator {
        padding-left: 0px;

        .ingredient {
          padding-left: 0px;

          .ingredient_details {
            input {
              width: 100%;
            }
            .form-group {
              padding: 0 0px;
            }
          }
        }
      }

      .ingredient_group {
        padding-left: 25px;

        .ingredient {
          padding-left: 25px;
          clear: right;

          .suggested_amount {
            font-size: 16pt;
            font-weight: bold;
            color: green;
          }

          .strikethrough {
            position: relative;
            padding: 0px 5px;
            color: rgba(205, 0, 0, 0.75);
            font-size: 14pt;
          }

          .strikethrough:before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            right: 0;
            border-top: 3px solid;
            border-color: inherit;

            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          .amount {
            color: black;
          }

          .name {
            margin-right: 15px;
          }

          .suggestions_summary {
            font-size: 12pt;
            font-style: italic;
            float: right;

            .num_suggestions {
              font-weight: bold;
            }
          }

          .suggestions_summary:hover {
            color: $brand-highlight;
          }

          .user_suggestions_wrapper {
            padding-left: 15px;

            .user_suggestion {
              margin: 15px;

              form {
                padding-left: 15px;
              }
            }

            .rating_container {
              margin-left: 25px;

              .suggestion_score {
                margin-left: 10px;
              }
            }

            .hide_suggestions {
              font-size: 12pt;
              font-style: italic;
              float: right;
            }

            .hide_suggestions:hover {
              color: $brand-highlight;
            }

            .suggesting_user {
              font-style: italic;
            }
          }

          .suggestion {
            .thumb_tracker {
              display: none;
            }

            .quantity {

              .adjustment {
                font-size: 12pt;
              }

              .up {
                color: green;
              }

              .down {
                color: darkred;
              }
            }

            .suggestion_score {
              font-weight: bold;
            }

            .positive {
              color: green;
            }

            .negative {
              color: darkred;
            }

          }
        }

        .ingredient + .ingredient {
          border-top: 1px $dotted_line_color dotted;
        }
      }

      .ingredient_group + .ingredient_group {
        margin-top: 25px;
      }
    }
  }
}

.user_container {

  .col-sm-9 {
    max-width: 500px;
    width: 50%;
  }

  .submit_container {
    text-align: right;
    padding-right: 10%;
  }

  .basic_info_container {
    width: 50%;
    float: left;
  }

  .taste_profile_container {
    width: 50%;
    float: left;

    .progress {
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);
      border: none;
    }

    .slider_frame {
      width: 100%;
      height: 40px;
      border-radius: 10px;
    }

    .slider_fill {
      width: 50%;
      height: 100%;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58);

    }

    .spicy {
      .slider_fill {
        //border-right: 3px solid #280000;
        //background-color: darkred;
      }
    }

    .sweet {
      .slider_fill {
        //border-right: 3px solid #854552;
        background-color: #ff859d;
      }
    }

    .sour {
      .slider_fill {
        //border-right: 3px solid #6e8835;
        background-color: #ceff63;
      }
    }

    .salty {
      .slider_fill {
        //border-right: 3px solid #c6c371;
        background-color: #fffd88;
      }
    }

    .bitter {
      .slider_fill {
        //border-right: 3px solid #305981;
        background-color: #7ccbff;
      }
    }

  }
}

.add_recipe {}

.front-page-section {
  .front-page-recipe {
    //background-color: lighten($brand-complement, 50%);

    .image {
      width: 100%;
      height: 250px;
      display: block;
      position: relative;
      background-color: rgba(0, 0, 0, 0.05);

      .favorites-float {
        background-color: rgba(255, 255, 255, 0.70);
        font-size: 16pt;
        font-weight: bold;
        color: $brand-primary;
        padding: 10px;
        float: right;

        .num-favorites {
          padding-left: 10px;
        }
      }
    }

    .image::after {
      content: "";
      background: url("../images/small_fork_spoon.png") repeat;
      opacity: 0.25;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    .title {
      text-align: center;
    }
  }
}

.front-page-section + .front-page-section {
  padding-top: 45px;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.show {
  display: block;
}
